In [1]:
import numpy as np
import pandas as pd
dataset = pd.read_excel("p1-customers.xlsx")
dataset.head()

,Name,Customer_Segment,Customer_ID,Address,City,State,ZIP,#_Years_as_Customer,Store_Number,Responded_to_Last_Catalog,Avg_Num_Products_Purchased,Avg_Sale_Amount
0,Pamela Wright,Store Mailing List,2,376 S Jasmine St,Denver,CO,80224,6,100,No,1,227.90
1,Danell Valdez,Store Mailing List,7,12066 E Lake Cir,Greenwood Village,CO,80111,6,105,Yes,1,55.00
2,Jessica Rinehart,Store Mailing List,8,7225 S Gaylord St,Centennial,CO,80122,3,101,No,1,212.57
3,Nancy Clark,Store Mailing List,9,4497 Cornish Way,Denver,CO,80239,6,105,Yes,1,195.31
4,Andrea Brun,Store Mailing List,10,2316 E 5th Ave,Denver,CO,80206,2,100,Yes,1,110.55

In [2]:
dataset = dataset.drop(["Name", "Customer_ID", "Address", "State", "#_Years_as_Customer", "City", "ZIP", "Store_Number", "Responded_to_Last_Catalog"], axis=1)
dataset.head()

     Customer_Segment  Avg_Num_Products_Purchased  Avg_Sale_Amount
0  Store Mailing List                           1           227.90
1  Store Mailing List                           1            55.00
2  Store Mailing List                           1           212.57
3  Store Mailing List                           1           195.31
4  Store Mailing List                           1           110.55

In [3]:
dataset_dv = pd.get_dummies(dataset, columns = ["Customer_Segment"], drop_first=True)
dataset_dv.head()

,Avg_Num_Products_Purchased,Avg_Sale_Amount,Customer_Segment_Loyalty Club Only,Customer_Segment_Loyalty Club and Credit Card,Customer_Segment_Store Mailing List
0,1,227.90,0,0,1
1,1,55.00,0,0,1
2,1,212.57,0,0,1
3,1,195.31,0,0,1
4,1,110.55,0,0,1

In [4]:
corr_mat = dataset_dv.corr()
features = corr_mat["Avg_Sale_Amount"].sort_values(ascending = False)
features

Avg_Sale_Amount                                  1.000000
Avg_Num_Products_Purchased                       0.855754
Customer_Segment_Loyalty Club and Credit Card    0.591488
Customer_Segment_Loyalty Club Only              -0.005746
Customer_Segment_Store Mailing List             -0.666655
Name: Avg_Sale_Amount, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset_dv, test_size = 0.3, random_state = 0)

In [6]:
train_targets = train.loc[:,"Avg_Sale_Amount"].values
train = train.drop("Avg_Sale_Amount", axis=1)
train_data = (train.iloc[:,:].values).astype('float64')

test_targets = test.loc[:,"Avg_Sale_Amount"].values
test = test.drop("Avg_Sale_Amount", axis=1)
test_data = (test.iloc[:,:].values).astype('float64')

In [7]:
train_targets

array([ 657.55, 2455.9 ,   16.25, ...,  235.44,   13.66,  548.84])

In [8]:
train_data

array([[ 5.,  0.,  0.,  0.],
       [16.,  0.,  1.,  0.],
       [ 1.,  0.,  0.,  1.],
       ...,
       [ 1.,  0.,  0.,  1.],
       [ 1.,  0.,  0.,  1.],
       [ 5.,  1.,  0.,  0.]])

In [12]:
test_targets

array([ 172.71,   80.25,  138.49, 1492.45,  112.99,  176.09,  738.73,
         89.53,   14.86,  153.96,  309.87, 1049.69,  423.21,  322.03,
        192.43,  985.71,  187.17,  217.01,   54.  ,  333.97,  374.67,
         34.72,   55.08,  828.47,  194.25,  145.72,  643.66,  992.74,
         46.65,  181.21,  106.92,  649.31,  477.18,  105.24,  335.13,
        681.82,  184.44,  193.81,  260.01,  281.13,  653.9 ,  623.49,
        654.58,  248.98,  914.58,  181.92,  541.29,    6.5 ,  455.78,
        244.86, 1058.91,  854.87,  381.99,  451.28,  192.04,  891.75,
        261.84,  153.26,  202.77,  421.91,  311.84,  249.44,  290.25,
        285.32,   46.89,  232.17, 1472.38,  252.94,   75.24,  984.13,
        817.61,  775.66,  123.12,  374.83,   81.57,  235.54,  182.97,
        803.54,  231.88,   66.88,  206.53,  211.1 ,  264.84,  551.53,
        540.68,  629.32,  814.24,  160.13,    8.5 ,   88.43,  161.85,
        209.08,  347.54,  359.18,  378.31,  406.86,  209.3 ,  225.38,
        190.1 ,  124.65,  366.17,  772.48,   16.58,  137.25,  128.31,
        310.2 ,   98.67,  222.61,  206.64,  450.93,  395.69,  270.72,
        679.1 ,   16.96,  323.66,  698.94,  785.73,  300.42,  277.13,
         65.79,  471.09,  729.85,  268.4 ,   69.21,  185.44,   83.65,
        175.3 ,  181.91,  232.92,   75.67,  364.82,   58.91,  492.61,
        761.98,  239.96,  750.89,  179.46,  433.53,  124.77,  417.5 ,
        322.06,  468.64,  255.19,  222.61,  146.43,  391.93,  665.33,
       1392.46,  231.98,  994.37,  213.16,   78.28,  149.5 ,  268.97,
        245.16,  507.38,  186.58, 1772.55,  902.5 ,   19.21,  344.71,
         45.97,  198.47,  568.37,  639.48,  326.12,  317.25,   33.65,
        546.41,  526.87,  356.73,   99.99,  216.04,  647.26,  425.93,
        104.15,  363.81,  155.22,  801.16,  925.52,  806.91,  149.07,
        652.44,  110.7 ,  773.14,  113.12, 1217.33,  106.06,  135.72,
        175.66,  136.62,   63.2 ,   93.83,  271.15,  906.23,  239.6 ,
        327.99,  284.32,  528.82,  170.77,  236.01,  132.99,   27.51,
        117.  ,  706.99, 1264.94,  206.91,  192.63,  174.36,   96.31,
        231.04,   73.77,  165.27,  360.69,   81.02,  483.24,   88.13,
        316.58,  197.55,  617.19,  152.29,  595.46,  628.06,  851.21,
        171.61,  478.11,   42.03,  250.2 ,   50.57, 1004.8 ,  551.02,
        472.68, 1119.62,   92.49,  700.24,  145.53,  782.99,  188.53,
        861.89,  218.44,  612.55,  241.26,  623.35,  823.86,  186.51,
        144.46,  172.7 ,  229.79,  208.28,  892.35,  814.94,  123.41,
        181.37,  145.92,  289.19,  249.96,  672.63,  603.75,  506.67,
        191.59,  155.09,  152.85,  260.31,  212.7 ,  739.85,   55.  ,
         75.68,  183.69,  483.5 ,  631.54,  299.57,  396.43,  322.38,
        558.23,  191.12,  581.32, 1424.41,  698.06,  291.04,  309.62,
         66.01,  116.01,  217.92,  269.67,  591.03,  455.58,   74.95,
        367.09,  299.76,   75.46,  269.73, 1766.63,  109.98,  215.85,
        683.4 ,  217.  ,  288.1 ,  793.43,  170.22,  360.77,  194.41,
        232.76,  539.75,  783.42,  278.21,   20.82,  126.72,   71.86,
        243.37,  228.84,  280.66,  621.18,  511.09,  431.88,   78.85,
        177.94,  273.22,  556.19,  137.01,  172.54,  154.98,  162.  ,
        264.89,  267.43,  215.87,   50.71,  774.64,  261.34,  530.6 ,
        197.6 ,  169.45,  651.91,  456.23,   52.69,  339.41,  702.56,
        208.23,  942.95,   79.63,  805.08,  301.22,  224.37,  603.35,
        185.4 ,  119.96,  769.95,  230.15,  607.72, 1002.31,  137.08,
        543.04,  411.72,  498.35,  426.53,  601.88,   15.17,  274.3 ,
        449.02,   58.91,  199.59,  866.17,  286.39,  606.18,  298.49,
        333.33,  244.17, 1271.34,  448.18,  469.36,  538.96,  561.59,
        570.46,   85.02,  382.14,  354.04,  488.62,   54.73,    8.92,
        195.61,  536.8 ,   60.99,  387.97,  359.63,  619.26,  472.34,
        166.91,  114.31,  206.31,    9.86,  225.14,  129.22,  901.31,
        901.69,   99.89,  231.99,  216.46,  243.54,  236.8 ,  638.48,
       2187.81,  175.66,  208.93,  737.65,  203.91,  210.63,   48.62,
        371.39,  237.87,  205.66,  775.56,  226.31,  114.7 ,   59.6 ,
        470.4 ,  219.53,  212.18,  776.8 ,  485.5 ,   47.04,  497.61,
        124.27,  444.01,   89.63,  505.99,  410.42,  283.73,  113.73,
        155.65,  857.65,  343.03,  106.7 ,  148.64,  196.4 ,  231.39,
        568.23,  539.61,   79.86,  280.58,  396.45,  446.92,  152.53,
         81.86,  404.43,  203.05,   66.07,    6.95,  199.5 ,  211.37,
        537.31, 1089.16,  315.8 ,  241.1 ,  361.96,  470.32,  298.79,
        545.02,   36.74,  585.36,  959.97,  151.68,  638.35,  157.5 ,
        806.4 ,  363.2 ,  216.49,  802.75,  509.32,  145.46,  385.33,
        117.62,   66.87,  486.47,  344.82,  393.9 ,  618.92,  845.03,
         49.37, 2963.49,  593.81,  127.37,  709.44,  333.08,  154.65,
        196.79,  313.37,  365.18,  454.98,  301.64,  141.79,  341.24,
        966.57,  604.3 ,  442.61,  902.45,  578.4 ,  240.49,   25.61,
        239.67,  551.81,  141.55,  439.09,  810.32,  242.72,  867.02,
        234.92,  806.07,  235.36,  132.24,  495.2 ,   65.93,   83.06,
        720.87,  403.95,  173.04,  171.39,  547.95,  321.57,  563.91,
        923.65,  158.08,  291.26,  458.22,  241.17,  557.16,  814.41,
         72.31,  292.34,  583.04,  397.71,  569.08,  816.19,  959.41,
         88.32,  175.82,   42.41,  254.52,  323.03,  276.06,  227.19,
         62.44,  359.99,  106.96,   36.9 ,  211.86,   43.94,  125.01,
        244.74,  279.62,  687.56,  229.1 ,  698.39,  267.6 ,  119.12,
        390.27,  157.8 ,    4.91,  206.94,  160.51,  321.28,  105.6 ,
        387.52,  802.67,  233.02,  352.95,  243.64,  165.11,  694.48,
        243.5 ,  191.28,  660.28,  115.63,  372.95,  286.93,  238.1 ,
        492.59,  939.14,  199.02,  738.6 ,  117.39,  444.63,  835.6 ,
       1042.85,  212.78,   75.51,    9.06,  516.56,  820.12,  136.31,
         74.97,  358.61,  739.91,  413.03,   17.54,  112.67,  322.8 ,
       1101.8 ,  184.6 ,  984.  ,  254.27,  934.  ,   85.99,   12.83,
        152.93,  264.42,  146.48,  453.29,  345.06,  884.51,  385.63,
        115.72,  180.5 ,  318.63,  862.89,  536.71,  235.36,  613.54,
        192.19,  209.94,   64.14,  220.74,   31.81,  273.15,  107.13,
         46.19,  229.88,  481.91,  316.47,  123.95,  122.24,  169.19,
        639.71,  567.03, 1030.92,  171.18,  370.34,   99.34,  123.3 ,
        224.8 ,  938.21,  665.6 ,  176.82,   40.78,  695.  ,  318.47,
       1546.27,   22.03,   44.69,  442.44,  795.58,  210.44,  462.53,
        550.75,   81.73,  347.44,  153.9 ,  162.82,  501.91,  974.71,
        339.76,  198.77,  295.89,  748.75,  470.45,  123.64,  390.76,
        860.73,   22.52,  475.9 ,  208.1 ,  380.55,  703.94, 1312.98,
        565.02,  311.14,  752.72,  166.04,  909.36,  206.88,  373.34,
        140.04,  382.52,  222.73,  303.33,  690.76,  423.09, 1162.16,
        769.28,  229.95,  269.1 ,  400.01,  167.89,  449.7 ,  149.  ,
        399.31,   38.25,  309.94,  799.96,  432.09,  221.58,  739.1 ,
        139.68,  602.36,  692.49,  229.2 , 1157.08,  173.18,   99.5 ,
        403.66,  138.7 ,  292.98,  263.4 ,  171.55,   58.99])

In [10]:
test_data

array([[1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       ...,
       [3., 0., 0., 1.],
       [2., 0., 0., 1.],
       [1., 0., 0., 1.]])

In [13]:
# Normalizing the data
mean = train_data.mean(axis=0)
train_data -= mean
std = train_data.std(axis=0)
train_data /= std

test_data -= mean
test_data /= std

In [14]:
from keras import models
from keras import layers

/home/dvisionb/anaconda3/envs/DLwithPython/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [15]:
def build_model():
    model = models.Sequential()
    model.add(layers.Dense(16, activation='relu', input_shape = (train_data.shape[1],)))
    model.add(layers.Dense(16, activation='relu'))
    model.add(layers.Dense(1))
    
    model.compile(optimizer='rmsprop', 
                  loss = 'mse',
                  metrics = ['mae'])
    return model

In [16]:
model = build_model()
model.fit(train_data, train_targets, epochs=750, batch_size=16, verbose=0)

In [17]:
test_mse_score, test_mae_score = model.evaluate(test_data, test_targets)

713/713 [==============================] - 0s 28us/step

In [18]:
test_mse_score

12413.59487756673

In [19]:
test_mae_score

77.85959301021624

In [20]:
y_pred = model.predict(test_data)

In [21]:
from sklearn.metrics import r2_score, mean_squared_error
r2 = r2_score(test_targets, y_pred)
mse = mean_squared_error(test_targets, y_pred)

In [22]:
r2, mse

(0.8752595942385236, 12413.595096532956)

In [23]:
new_customers = pd.read_excel("p1-mailinglist.xlsx")
scores = new_customers.loc[:, ["Score_Yes"]].values

In [24]:
new_customers = new_customers.drop(["Name", "Customer_ID", "Address", "State", "#_Years_as_Customer","City", "ZIP", "Store_Number", "Score_No", "Score_Yes"], axis=1)
new_customers = pd.get_dummies(new_customers, columns = ["Customer_Segment"], drop_first=True)
new_customers_pred = new_customers.loc[:,:].values

In [25]:
predictions = model.predict(new_customers_pred)

In [26]:
predicted_profit = (np.sum(np.multiply(scores,predictions))/2)-(6.5*250)

#predicted_profit = (np.dot(scores,predictions)/2)-(6.5*250)

print("The predicted profit from sending out the catalogs to the new customer is: %.2f" % predicted_profit)

The predicted profit from sending out the catalogs to the new customer is: 45648.59